@import '../../../sass/LmsCore';

.lmsTask {
  .container {
   @include container;
  }
  .content {
    @include content;
  }

  @include grids;
  :global .ms-Label {
    display: inline-block;
  }

  .header {
    font-weight:600;
    padding-right:15px;
  }

  p {
    margin:0;
  }
  
  :global .ms-TextField-wrapper {
    .ms-Label {
      font-weight: 600;
    }
  }
 
  .button {
  @include button;
  }
}