@import '../../../sass/LmsCore';

.createSessionLaw {
  padding:0 8px;
  @include grids;

  :global .ms-Label {
    display: inline-block;
  }
  
  p {
    margin:0;
  }
  
  :global .ms-TextField-wrapper {
    .ms-Label {
      font-weight: 600;
    }
  }
 
  .button {
    @include button;
  }
}