@import '../../../sass/LmsCore';
.fiscalForm {
  :global .ms-Label {
    display: inline;
  }
  .container {
   @include container;
  }
  @include grids;
  
  :global .ms-ChoiceFieldGroup,
  :global .ms-TextField-wrapper,
  :global .lmspickerWrapper,
  :global .ms-Dropdown-container {
    >.ms-Label {
      font-weight: 600;
    }
  }

  .borderedTop, .borderedBottom, .bordered {
    border:none;
  }
  
  .bordered {
    border: 1px solid silver;
  }
  .borderedTop {
    border-top:1px solid silver;
  }
  .borderedBottom {
    border-bottom: 1px solid silver;
  }
  
  .column3FiscalImpact {
    @include grid-col;
    @include sm12;
    @include lg3;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 9px;
  }

  .backgroundColor {
    background-color: lavender;
  }
  
  
  .lsolabel {
    @include label;
    padding-left: 8px;
    padding-right: 2px;
  }
  .marginComment {
    margin-left: 15px;
  }
  .fieldpadding {
    padding: 0 8px;
  }
  .inlineflex {
    @include inlineFlex;
  }
  :global .ms-ChoiceFieldGroup {
    margin-left: 7px;
  }
  .header {
    font-weight: bold;
    padding-right: 15px;
    padding-left: 7px;
  }
  .commentSize {
    width: 94%
  }
  .explainFiscal {
    margin-left: -28px;
    margin-top: -11px;
    padding: 0 8px;
  }
  .title {
    @include title;
  }
  .subTitle {
    @include subTitle;
  }
  .description {
    @include description;
  }
  .button {
    @include buttonLabel;
    @include button;
    margin-bottom: 0;
    margin-top: 0;
  }
  .fieldset {
    border: none;
    box-shadow: 0 0 1px 0 silver;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .fieldset .fieldset {
    margin-left: 0;
    margin-right: 0;
  }
  .removeButton{
    position: absolute;
    left: -252px;
    top: 2px;
  }
  .legend {
    color: cornflowerblue;
    background: white;
    border-bottom: none;
    margin: 5px;
    padding: 5px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }
  .fiscalRadio {
    margin-left: 14px;
  }
  .inlineInput label {
    clear: both;
    float: left;
    margin-right: 15px;
    margin-left: 7px;
  }
  .LSO2 {
    margin-top: 120px;
    margin-left: -112px; // width:50%;
  }
  .LSO3 {
    margin-top: 159px;
    margin-left: -112px; // width:50%;
  }
  .btnDeleteLegend {
    position: absolute;
    right: 17px;
    margin-top: -29px;
    background-color: white;
    border: whitesmoke 1px solid;
}
}
