@import '../../../sass/LmsCore';
.customListView {
  .container {
   @include container;
  }
  .content {
   @include content;
  }
  @include grids;
  
  :global .ms-Label {
    display: inline-block;
  }
  p {
    margin: 0;
  }
  :global .ms-TextField-wrapper {
    .ms-Label {
      font-weight: 600;
    }
  }
  .button {
    @include button;
  }
}
